{% extends 'mysite/base.html' %}

{% block content %}
  <h2>Consulta</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if cols %}
      <label for="arq">Arquivo de teste:</label>
      <input type="file" name="arq" id="arq">
      <p>ou</p>
      {% for col in cols %}
      <label for="{{col}}">{{col}}</label>
      <input name="{{col}}" id="{{col}}"><br>
      {% endfor %}
    {% endif %}

    {% if resultado %}
      <p>{{ resultado }}</p>
    {% elif resultados %}
      {% for resultado in resultados %}
        <p>{{ resultado }}</p>
      {% endfor %}
    {% else %}
    <input type="submit" value="Consultar">
    {% endif %}
    </form>
{% endblock %}

